/** Colors :: Manage Colors... :: Use system colors ***/
user_pref("browser.display.use_system_colors", true);

/** New Windows and Tabs :: Homepage and new windows ***/
user_pref("browser.startup.homepage", "chrome://browser/content/blanktab.html");
/** New Windows and Tabs :: New tabs ***/
user_pref("browser.newtabpage.enabled", false);
/** Firefox Home Content :: Web Search ***/
user_pref("browser.newtabpage.activity-stream.showSearch", false);
/** Firefox Home Content :: Shortcuts ***/
user_pref("browser.newtabpage.activity-stream.feeds.topsites", false);

/** Use this search engine in Private Windows ***/
user_pref("browser.search.separatePrivateDefault", false);

/** Search Suggestions :: Show recent searches ***/
user_pref("browser.urlbar.suggest.recentsearches", false);

/** Address Bar :: Browsing history ***/
// user_pref("browser.urlbar.suggest.history", false);
/** Address Bar :: Bookmarks ***/
// user_pref("browser.urlbar.suggest.bookmark", false);
/** Address Bar :: Open tabs ***/
// user_pref("browser.urlbar.suggest.openpage", false);
/** Address Bar :: Shortcuts ***/
user_pref("browser.urlbar.suggest.topsites", false);
/** Address Bar :: Search engines ***/
user_pref("browser.urlbar.suggest.engines", false);

/** Website Privacy Preferences :: Tell websites not to sell or share my data ***/
user_pref("privacy.globalprivacycontrol.enabled", true);
/** Website Privacy Preferences :: Send websites a "Do Not Track" request ***/
user_pref("privacy.donottrackheader.enabled", true);

/** Passwords :: Ask to save passwords ***/
user_pref("signon.rememberSignons", false);

/** Autofill :: Save and fill addresses ***/
user_pref("extensions.formautofill.addresses.enabled", false);
/** Autofill :: Save and fill payment methods ***/
user_pref("extensions.formautofill.creditCards.enabled", false);
