[Desktop Entry]
Encoding=UTF-8
Name=Firefox Developer Edition
Exec={{ manuall.firefox_dev.base_dir }}/{{ manuall.firefox_dev.name }}/firefox
Icon={{ manuall.firefox_dev.base_dir }}/{{ manuall.firefox_dev.name }}/browser/chrome/icons/default/default128.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;Favorite;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp; X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognitos;
