[Desktop Entry]
Name={{ outer_item.name }}
Exec=/opt/{{ outer_item.name }}/{{ outer_item.name }}.AppImage
Icon=/opt/{{ outer_item.name }}/{{ outer_item.name }}.png
comment={{ outer_item.name }}
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
