[Desktop Entry]
Name={{ item.name }}
Exec=/opt/{{ item.name }}/{{ item.name }}.AppImage
Icon=/opt/{{ item.name }}/{{ item.name }}.png
comment={{ item.name }}
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
